<a href="https://colab.research.google.com/github/Yogeshvr46/Yogeshvr46/blob/main/Air_Asia_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

We use pandas read_csv function to read the csv file in python .
dataframe method to convert file into the data frame

In [7]:
df = pd.DataFrame(pd.read_csv('/content/Air Asia.csv'))
df.head()

   S.No.     Name  Age   Sex Code Tickets  Category  Destination
0      1   Yogesh   22  Male    001-B-A01  Buisness  MAA-DEL-CNX
1      2   Niresh   21  Male    001-B-B01  Buisness  MAA-DEL-CNX
2      3     Giri   20  Male    001-B-C01  Buisness  MAA-DEL-CNX
3      4  Rathana   22  Male    011-B-D01  Buisness  MAA-DEL-CNX
4      5  Pradeep   23  Male    011-E-A01   Econemy  MAA-DEL-CNX

In [ ]:
df.shape

***Description of the attributes of the dataset***

Category:(B=Buisness,E=Econemy)

name:name

sex:sex

ticket:code ticket

destination:(MAA= Chennai International Airport,DEL= Indira Gandhi 
International Airport, CNX= Chiang Mai International Airport)

In [ ]:
df.isnull().sum()

In [ ]:
df['Destination'].describe()

it shows,the passengers travel more than like MAA-DEL-CNX

In [ ]:
x = df.isnull().sum()
drop_col = x[x>(10/80 * df.shape[1])]
drop_col

In [ ]:
df.corr()

In [ ]:
df['Sex'] = [0 if df['Sex'][i]=='male' else 1 for i in df.index]
df.groupby(['Sex']).mean()

It shows,female passenger have more chance to travel than male ones

it shows women were prioritized over men

In [ ]:
df.groupby(['Destination']).mean()

In [ ]:
df.groupby(['Name']).mean()

In [ ]:
df['Category'].describe()

it shows the passengers travelin more than like Econemy Category

### **Pie Charts:**

it's use the primary argument to the function will be the wedge sizes.

In [ ]:
sorted_counts = df['Category'].value_counts()
plt.pie(sorted_counts, labels = sorted_counts.index);

**CONCLUSION**



*   Female passengers were prioritized over men.

*   peoples are more than traveling in Econemy category.

*   passengers most traveling the 'Chiang Mai International Airport' (CNX)